body,html {
  margin:0;
  padding:0;
}
.group1{
	background-image: url(../img/background1.jpg);
	width: 100%;
	min-height: 960px;
	background-repeat: no-repeat;
	background-size: cover;
}
.header{
	display: flex;
}
.logo{
	background-color: #ffba00;
	width: 30%;
	height: 80px;
	margin-top: 35px;
}
.title1{
	color: white;
	font-family: 'Montserrat', sans-serif;
	font-size: 33px;
	margin-left: 130px;
}
.menu{
	width: 70%;
	margin-top: 10px;
}
.menulist{
	list-style-type: none;
	text-align: center;
	margin-top: 0px;
}
.menulist li {
  	display: inline-block;
  	font-size: 30px;
  	padding: 40px;
  }
 .menu li a {
	text-decoration: none;
	color: white;
	font-family: 'Lato', sans-serif;
}	
.hash{
	font-family: 'Montserrat', sans-serif;
	font-weight: lighter;
}
.div2{
	background-color: #ffba00;
	width: 100%;
	height: 200px;
	margin-top: 400px;
}
.title2{
	font-size: 100px;
	font-family:'Montserrat', sans-serif;
	text-transform: uppercase;
	color: white;
	font-weight: 100;
	line-height: 118px;
	margin-top: 20px;
}
.grand{
	font-weight: 900;
}
.readmore {
	background-color: #ffba00;
	border: 5px white solid;
	width: 330px;
	padding-top: 15px;
	margin-left: 75px;
    height: 65px;
	font-family:'Montserrat', sans-serif;
	text-align: center;
	margin-top: 145px;
	text-transform: uppercase;
}
.readmore a{
	font-size: 40px;
	color: white;
	padding: 0px;
	margin: 0px;
	font-weight: 500;
	text-decoration: none;
}
.div2inner{
	width: 1000px;
	display: flex;
	justify-content: center;
	margin-left: 100px;
}
.group2{
	background-image: url(../img/img2.png);
	width: 100%;
	min-height: 610px;
	background-size: 625px 445px;
	background-color: #242424;
	background-repeat: no-repeat;
	background-position: 100% 80px;
	overflow: hidden;
}
.div3{
	background-color: #ffba00;
	width: 840px;
	height: 190px;
	margin-left: 130px;
	margin-top: 215px;
	z-index: 0;
}
.div3inner{
	width: 1000px;
	display: flex;
	/*justify-content: center;*/
}
.div3inner2{
	width: 50%;
	margin-left: -470px;
}
.whatnew1{
	font-family: 'Lato', sans-serif;
	color: white;
    margin-top: -28px;
    padding-bottom: 30px;
    font-size: 25px;  
    width: 412px; 
}
.whatnew2{
	font-family: 'Lato', sans-serif;
	color: white;
    font-size: 25px; 
    padding-bottom: 30px;   
}
.whatnew3{
	font-family: 'Lato', sans-serif;
	color: white;
    font-size: 25px;    
}
.what{
	font-family: 'Lato', sans-serif;
	color: white;
	font-weight: bold;
	letter-spacing: 5px;
	margin-top: -70px;
	font-size: 50px;
}
.newformat{ 
    letter-spacing: 5px;
    font-family: 'Montserrat', sans-serif;
    color: white;
    transform: rotate(-90deg);
    font-weight: 100;
    font-size: 45px;
    width: 50%;
    margin-top: -264px;
    margin-left: 20px;
    margin-right: 75px;
 }
 .group3{
	width: 100%;
	height: 375px;
	text-align: center;
	color: #ffffff;
	overflow: hidden;
}
.group3inner{
	width: 86%;
	display: flex;
	justify-content: center;
	margin-left: 100px;
	margin-top: 120px;
	margin-bottom: 0px;
}
.g3div{
	width: 25.3%;
/*	background-color: pink;*/
	text-align: left;
	margin: auto;
	/*position: absolute;*/
}
h3{
	color: #ffba00;
	font-size: 25px;
	font-family:'Montserrat', sans-serif;
}
.g3divp{
	color: black;
	font-family: 'Lato', sans-serif;
	font-size: 17px;
}
.group4{
	background-image: url(../img/img3.png);
	width: 100%;
	min-height: 1200px;
	background-repeat: no-repeat;
	background-size: cover;
	overflow: hidden;
	text-align: center;
}
.title3{
	color: #ffba00;
	font-family: 'Montserrat', sans-serif;
	font-size: 35px;
	margin-top: 7%;
    margin-left: 12%;
}
.newmenu{
	color: #ffba00;
	font-family: 'Montserrat', sans-serif;	
	font-size: 45px;
	text-transform: uppercase;
	font-weight: normal;
	margin-top: 75px;
	margin-left: 177px;
}
.newmenu:after{
	content: '';
	width:1100px ;
	height:130px ;
	border: 2px white solid;
	position: absolute;
	margin-left: -757px;    
	margin-top: -15px;
}
.group4inner{
	width: 100%;
	display: flex;
	justify-content: flex-end;
}
.div4{
	width: 850px;
	height: 415px;
	background-color:#ffba00;
	margin-top: 95px;
}
.div4inner{
	display: flex;
	width:100%;
}
.menuelements{
	width: 70%;
	margin-top: 75px;
}
.prices{
	width:30% ;
	margin-top: 70px;
	z-index: 1;
}
.p1{
	font-family: 'Lato', sans-serif;
	color: white;
  font-weight: lighter;
  font-size: 28px;
  text-align: left;
  margin-left: 40px;
  padding-bottom: 15px;
}
.p11{
		text-transform: uppercase;
}
.price{
	color: white;
	font-family: 'Lato', sans-serif;
	font-weight: bold;
	font-size: 28px;
	padding-bottom: 42px;
	margin-right: 120px;


}
.prices:after{
	content: '';
	width: 70px;
	height: 425px;
	background-color: rgb(255, 218, 0,0.5);
	position: absolute;
	margin-top: -475px;
  margin-left: -68px;
  z-index: -1;
}
.clarifymenu{
		line-height: 40px;
    font-family: 'Lato', sans-serif;
    color: white;
    font-size: 25px;
    margin-top: 190px;
    margin-left: -173px;
}
.clarifymenu:after{
		content: '';
		width: 930px;
		height: 160px;
		border: 2px white solid;
		position: absolute;
    margin-left: -425px;
    margin-top: -92px;
}
.group5{
	width: 100%;
	height: 410px;
	background-color: #242424;
	text-align: center;
	overflow: hidden;
	display: flex;
  justify-content: center;
}
.group5inner{
	margin-top: 60px;
}
.aboutour{
	font-family: 'Lato', sans-serif;
	color: #eaab03;
	font-weight: normal;
	text-transform: uppercase;
	font-size: 33px;
	margin-bottom: 40px;
}
.concept{
	font-family: 'Montserrat', sans-serif;
	font-weight: bold;	

}
.g5p{
	font-family: 'Raleway', sans-serif;
	color: white;
	width: 700px;
  font-size: 18px;
  margin-bottom: 40px;
}
.g5list{
	list-style-type: none;
	text-align: center;
	margin-top: 0px;
}
.g5list li {
  	display: inline-block;
  	font-size: 15px;
  	padding: 20px;
  }
 .g5list li a {
	text-decoration: none;
	color: white;
	font-family: 'Raleway', sans-serif;
	font-weight: bold;
}	
.group6{
	background-image: url(../img/img4.png);
	width: 100%;
	min-height: 1205px;
	background-size: cover;
	overflow: hidden;
	text-align: right;
}
.title4{
	color: white;
  font-family: 'Lato', sans-serif;
  font-size: 30px;
  margin: 0px;
  font-weight: bold;
  margin-top: 95px;
  margin-right: 125px;
  text-transform: uppercase;
}
.group6inner1{
	width: 100%;
	display: flex;
	justify-content: flex-end;
}
.div8{
	width: 535px;
	min-height: 620px;
	background-color: #ffba00;
	margin-top: 95px;
  margin-right: 125px;
}
.div8title{
	font-family: 'Lato', sans-serif;
	font-size: 50px;
	text-transform: uppercase;
	color: white;
	font-weight: bold;
	text-align: left;
	margin-bottom: 45px;
	margin-left: 55px;
}
.div8title2{
	font-family: 'Lato', sans-serif;
	font-size: 40px;
	color: white;
	font-weight: bolder;
	text-align: left;
	margin-bottom: 45px;
	margin-top: 0px;
	margin-left: 55px;

}
.div8title3{
	font-family: 'Lato', sans-serif;
	font-size: 40px;
	text-transform: uppercase;
	color: white;
	font-weight: normal;
	text-align: right;
	margin-right: 45px;

}
.div8price{
	font-weight: bold;
}
.group6inner2{
	width: 100%;
	display: flex;
	justify-content: flex-end;
}
.div9{
	width: 465px;
	min-height: 120px;
	background-color: #ffba00;	
	margin-right: 125px;
	margin-top: 45px;
	text-align: left;
}
.div9inner{
	margin-left: 35px;
  margin-top: 60px;
}
.button{	
	text-transform: uppercase;
	font-size: 40px;
	font-family: 'Lato', sans-serif;
	font-weight: bold;
	text-decoration: none;
  color: white;
}
.group7{
	width: 100%;
	min-height: 1260px;
	background-color: #242424;
	overflow: hidden;
	text-align: center;
}
.g7title{
	text-transform: uppercase;
	color: #ffba00;
	font-family: 'Montserrat', sans-serif;
	font-weight: bolder;	
	font-size: 30px;
	text-align: center;
  /*margin-left: 50%;*/
  margin-top: 135px;
  margin-bottom: 55px;
  z-index: 1;
}
.g7title:before{
	content: '';
	position: absolute;
	width: 250px;
	height: 1260px;
	background-color: #ffba00;
	z-index: 0;
	margin-top: -135px;
  margin-left: -300px;
}
.group7inner{
	display: flex;
	justify-content: center;
	margin-bottom: ;
	/*width: 90%;*/
}
.g7img{
	z-index: 2;
	padding-right:5px ;
}
.g7title2{
	font-family: 'Montserrat', sans-serif;
	font-weight: bold;
	color: white;
	font-size: 25px;
	margin-top: 110px;
}
.group7inner2{
	display: flex;
	justify-content: center;
	width: 90%;
}
.div10{
	z-index: 3;
  width: 30%;
  text-align: left;
  margin-left: 280px;
  margin-right: 130px;
}
.g7p{
	font-family: 'Lato', sans-serif;
	font-size: 25px;
	color: white;  
  line-height: 35px;
/*    bottom: 110px;
    width: 282px;
    left: 397px;*/
}
.g7title3{
	font-family: 'Lato', sans-serif;
	color: white;
	font-size: 20px;
	margin-bottom: 20px;
	font-weight: 100;
}
.socialmedia {
  	text-align: left;
  	z-index: 2;
}
.fab {
    font-family: "Font Awesome 5 Brands";
    padding-right: 10px;
    padding-left: 10px;
     background-color: white;
    color: #242424;
    border-radius: 50%;
    height: 39px;
    font-size: 31px;
    padding-top: 9px;
    margin-left: 15px;

}
i.fab.fa-facebook-f {
    width: 25px;
    padding-left: 14px;
}
.website{
	font-family: 'Lato', sans-serif;
	color: #ffba00;
	font-weight: bolder;
	text-decoration:none ;
	font-size: 30px;
}
.name{
	color: white;
	font-family: 'Raleway', sans-serif;
	font-weight: bold;
	text-transform: capitalize;
}
.group8{
	width: 100%;
	height: 325px;
	background-color: #483500;
	overflow: hidden;
}
.group8inner{
	display: flex;
	width: 90%;
	justify-content: center;
	margin-top: 40px;
}
.g8title{
	color: white;
	text-transform: uppercase;
	font-size: 20px;
	font-family: 'Raleway', sans-serif;
	font-weight: bold;
}
.g8p{
	color: white;
	font-family: 'Lato', sans-serif;
	font-weight: normal;
}
.g8list{
	list-style-type: none;
	text-align: left;
	padding: 0px;
}
.g8list li {
  	font-size: 20px;
  	text-transform: capitalize;
  	padding: 3px;
  }
 .g8list li a {
	text-decoration: none;
	color: white;
	font-family: 'Raleway', sans-serif;
	font-weight: bold;
}
.g8div1 {
    margin-right: 170px;
}
.g8div2{
	margin-right: 110px;
}
.g8div3{
	margin-right: 110px;
}